body {
    font-family: 'Heebo', sans-serif;
}
.bg-primary {
    background-color: #1e298f!important;
}
.btn-primary {
    color: #fff;
    background-color: #1e298f;
    border-color: #1e298f;
}
hr.divider {
    border-color: #1e298f;
}
a {
    color: #1e298f;
}
.text-primary {
    color: #1e298f!important;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #e9625f!important;
}
hr.red {
    border-color: #e9625f;
}
.text-white-50 {
    color: rgba(255,255,255,.9)!important;
}
.bg-dark {
    background-color: #000!important;
}
.restaurant {
    min-height: 540px;
    background-image: url(../img/restaurant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.map {
    height: 360px;
}